<!DOCTYPE html>
</html>
    <head>
        <title>Redis CRUD</title>
        <link href="/../css/style.css" rel="stylesheet">
		
		
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2>Redis CRUD</h2><h4><%=page_title%></h4></div>
            <div class="page-container">
